/*|=============== CONNECTING FONTS ===============|*/
/*|CM| Local fonts */
@font-face {
  font-family: 'Rubik';
  src: url('../fonts/rubik/rubik_regular.woff2') format('woff2'),
        url('../fonts/rubik/rubik_regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Rubik';
  src: url('../fonts/rubik/rubik_medium.woff2') format('woff2'),
        url('../fonts/rubik/rubik_medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Rubik';
  src: url('../fonts/rubik/rubik_bold.woff2') format('woff2'),
        url('../fonts/rubik/rubik_bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
